<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar src="{{publication.profile_image}}">
    <mat-card-title>{{publication.title}}</mat-card-title>
    <mat-card-subtitle>@{{publication.author}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{publication.image}}" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      {{publication.body.substring(0,255)}}...
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="hello()" mat-button>
        <mat-icon>play_arrow</mat-icon>
        Play
    </button>
    <button (click)="hello()" mat-button>
        <mat-icon>favorite</mat-icon>
        Like
    </button>
    <button (click)="hello()" mat-button>
        <mat-icon>file_download</mat-icon>
        Download
    </button>
  </mat-card-actions>
  <mat-card-footer>
    12302193 likes
  </mat-card-footer>
</mat-card>